div#interface{
    width: auto;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #cee2ef ;   
}


div#carrosselSite{
    width: 400px;
    align-self: center;
}

div#card-logo{
    width: 10%;
}


